.container {
  width: 350px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 15px;
  padding: 10px 0 0 0;
  list-style: none;

  @media (min-width: $md) {
    width: 600px;
  }
}

.selectWrapper {
  min-width: 110px;
}
