$text-small: 14px;
$title: 22px;
$main-title: 32px;
$text: 16px;
$color-violet: #512689;
$color-black: #151317;
$color-gray: #808185;
$color-gray-light: #cccccc;
$color-red: #ff6161;
$color-white: #ffffff;

$xl: '1140px';
$md: '768px';
